@import "./variables.scss";

@import "./auth.scss";
@import "./menu.scss";
@import "./components/Login.scss";

.native-input {
  -webkit-appearance: none;
  -moz-appearance: none;
}

ion-item {
  --padding-start: 0;
}
